* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

/* Navebar strat */

#navbar {
  background: #f9f9f9;
}

#logo {
  font-size: 36px;
  font-weight: 550;
  color: black;
  text-shadow: 0px 1px 1px black;
  margin-bottom: 5px;
}
#logo span {
  color: #ffa500;
}

.navbar-toggler {
  color: #ffa500;
}
.navbar-nav {
  margin-left: 20px;
}
.nav-item .nav-link {
  font-size: 16px;
  font-weight: 550;
  color: black;
  letter-spacing: 1px;
  border-radius: 5px;
  transition: 0.5 ease;
}
.nav-item .nav-link:hover {
  background: #ffa500;
  color: white;
}

#navbar form button {
  background: #ffa500;
  color: #f9f9f9;
  border: none;
}
/* Navebar end */

/* home section start */

.home {
  width: 100%;
  height: 90vh;
  /* background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2),url(images/background\ img.png)); */
  background-image: url(images/background\ img.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.home .contant {
  text-align: center;
  padding-top: 200px;
}

.home .contant h5 {
  color: white;
  font-size: 38px;
  font-weight: 550;
  text-shadow: 0px, 1px, 1px, black;
}

.home .contant h1 {
  color: white;
  font-size: 70px;
  font-weight: 550;
  text-shadow: 0px 1px 1px black;
  margin-top: 5px;
}

.home .contant p {
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 30px;
  margin-top: 5px;
  text-shadow: 0px 1px 1px black;
}
.changecontent::after {
  content: "";
  color: #ffa500;
  text-shadow: 0px 1px 1px black;
  animation: changetext 10s infinite linear;
}
@keyframes changetext {
  0% {
    content: "france";
  }
  20% {
    content: "India";
  }
  40% {
    content: "America";
  }
  60% {
    content: "Africa";
  }
  80% {
    content: "Landon";
  }
  100% {
    content: "pakistan";
  }
}

/* home section end */
